In [1]:
import csv
import neo4j

import math
import numpy as np
import pandas as pd

import psycopg2
from geographiclib.geodesic import Geodesic

# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [2]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [3]:
cursor = connection.cursor()

In [4]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

In [5]:
connection.rollback()

query = """

drop table if exists stations;

"""

cursor.execute(query)

connection.commit()

In [6]:
connection.rollback()

query = """

drop table if exists lines;

"""

cursor.execute(query)

connection.commit()

In [7]:
connection.rollback()

query = """

drop table if exists travel_times;

"""

cursor.execute(query)

connection.commit()

In [8]:
connection.rollback()

query = """

create table stations (
  station varchar(32),
  latitude numeric(9,6),
  longitude numeric(9,6),
  transfer_time numeric(3),
  primary key (station)
);

"""

cursor.execute(query)

connection.commit()

In [9]:
connection.rollback()

query = """

create table lines (
  line varchar(6),
  sequence numeric(2),
  station varchar(32),
  primary key (line, sequence)
);

"""

cursor.execute(query)

connection.commit()

In [10]:
connection.rollback()

query = """

create table travel_times (
  station_1 varchar(32),
  station_2 varchar(32),
  travel_time numeric(3),
  primary key (station_1, station_2)
);

"""

cursor.execute(query)

connection.commit()

In [11]:
connection.rollback()

query = """

copy stations
from '/user/projects/project-3-timothy-majidzadeh/code/stations.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [12]:
connection.rollback()

query = """

copy lines
from '/user/projects/project-3-timothy-majidzadeh/code/lines.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [13]:
connection.rollback()

query = """

copy travel_times
from '/user/projects/project-3-timothy-majidzadeh/code/travel_times.csv' delimiter ',' NULL '' csv header;

"""

cursor.execute(query)

connection.commit()

In [14]:
cursor = connection.cursor()

In [15]:
rollback_before_flag = True
rollback_after_flag = True

query = """

select station
from stations
order by station

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

                 station
0            12th Street
1    16th Street Mission
2            19th Street
3    24th Street Mission
4                Antioch
5                  Ashby
6            Balboa Park
7               Bay Fair
8              Berryessa
9          Castro Valley
10          Civic Center
11              Coliseum
12                 Colma
13               Concord
14             Daly City
15     Downtown Berkeley
16                Dublin
17  El Cerrito del Norte
18      El Cerrito Plaza
19           Embarcadero
20               Fremont
21             Fruitvale
22             Glen Park
23               Hayward
24             Lafayette
25          Lake Merritt
26             MacArthur
27              Millbrae
28              Milpitas
29     Montgomery Street
30        North Berkeley
31         North Concord
32                   OAK
33                Orinda
34             Pittsburg
35      Pittsburg Center
36         Pleasant Hill
37         Powell Street
38              Richmond
39             Rockridge
40             San Bruno
41           San Leandro
42                   SFO
43         South Hayward
44   South San Francisco
45            Union City
46          Walnut Creek
47          Warm Springs
48           West Dublin
49          West Oakland

In [16]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [17]:
session = driver.session(database="neo4j")

In [18]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [19]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [20]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [21]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [22]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [23]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [24]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [25]:
my_neo4j_wipe_out_database()

In [26]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

In [27]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node('depart ' + station)
    my_neo4j_create_node('arrive ' + station)

In [28]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 100
  Relationships: 0
-------------------------

In [29]:
connection.rollback()

query = """

select station, line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    line = row[1]
    
    depart = 'depart ' + station
    arrive = 'arrive ' + station
    line_station = line + ' ' + station
    
    my_neo4j_create_node(line_station)
    my_neo4j_create_relationship_one_way(depart, line_station, 0)
    my_neo4j_create_relationship_one_way(line_station, arrive, 0)

In [30]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 228
-------------------------

In [31]:
connection.rollback()

query = """

select a.station, a.line as from_line, b.line as to_line, s.transfer_time
from lines a
     join lines b
       on a.station = b.station and a.line <> b.line 
     join stations s
       on a.station = s.station
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = int(row[3])
    
    from_station = from_line + ' ' + station
    to_station = to_line + ' ' + station
    
    my_neo4j_create_relationship_one_way(from_station, to_station, transfer_time)

In [32]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 436
-------------------------

In [33]:
connection.rollback()

query = """

select a.line, a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
order by line, from_station, to_station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    line = row[0]
    from_station = line + ' ' + row[1]
    to_station = line + ' ' + row[2]
    travel_time = int(row[3])
    
    my_neo4j_create_relationship_two_way(from_station, to_station, travel_time)

In [34]:
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------

In [35]:
def my_neo4j_shortest_path(from_station, to_station):
    "given a from station and to station, run and print the shortest path"
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
    session.run(query)

    query = """

    MATCH (source:Station {name: $source}), (target:Station {name: $target})
    CALL gds.shortestPath.dijkstra.stream(
        'ds_graph', 
        { sourceNode: source, 
          targetNode: target, 
          relationshipWeightProperty: 'weight'
        }
    )
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    RETURN
        gds.util.asNode(sourceNode).name AS from,
        gds.util.asNode(targetNode).name AS to,
        totalCost,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).name] AS nodes,
        costs
    ORDER BY index

    """

    result = session.run(query, source=from_station, target=to_station)
    
    for r in result:
        
        total_cost = int(r['totalCost'])
        
        print("\n--------------------------------")
        print("   Total Cost: ", total_cost)
        print("   Minutes: ", round(total_cost / 60.0,1))
        print("--------------------------------")
        
        nodes = r['nodes']
        costs = r['costs']
        
        i = 0
        previous = 0
        
        for n in nodes:
            
            print(n + ", " + str(int(costs[i]) - previous)  + ", " + str(int(costs[i])))
            
            previous = int(costs[i])
            i += 1

In [36]:
my_neo4j_shortest_path('depart Dublin', 'arrive Antioch')

--------------------------------
   Total Cost:  5813
   Minutes:  96.9
--------------------------------
depart Dublin, 0, 0
blue Dublin, 0, 0
blue West Dublin, 180, 180
blue Castro Valley, 600, 780
blue Bay Fair, 240, 1020
blue San Leandro, 240, 1260
blue Coliseum, 240, 1500
orange Coliseum, 54, 1554
orange Fruitvale, 240, 1794
orange Lake Merritt, 300, 2094
orange 12th Street, 180, 2274
orange 19th Street, 120, 2394
orange MacArthur, 180, 2574
yellow MacArthur, 59, 2633
yellow Rockridge, 240, 2873
yellow Orinda, 300, 3173
yellow Lafayette, 300, 3473
yellow Walnut Creek, 300, 3773
yellow Pleasant Hill, 120, 3893
yellow Concord, 360, 4253
yellow North Concord, 180, 4433
yellow Pittsburg, 360, 4793
yellow Pittsburg Center, 600, 5393
yellow Antioch, 420, 5813
arrive Antioch, 0, 5813

In [37]:
query = """

CALL gds.pageRank.stream('ds_graph',
                         { maxIterations: $max_iterations,
                           dampingFactor: $damping_factor}
                         )
YIELD nodeId, score
RETURN gds.util.asNode(nodeId).name AS name, score as page_rank
ORDER BY page_rank DESC, name ASC

"""

max_iterations = 20
damping_factor = 0.05

my_neo4j_run_query_pandas(query, max_iterations=max_iterations, damping_factor=damping_factor)

                        name  page_rank
0    yellow Pittsburg Center   1.040071
1           blue West Dublin   1.039954
2           yellow Pittsburg   1.032033
3       yellow North Concord   1.031899
4             yellow Concord   1.031897
..                       ...        ...
209        depart Union City   0.950000
210      depart Walnut Creek   0.950000
211      depart Warm Springs   0.950000
212       depart West Dublin   0.950000
213      depart West Oakland   0.950000

[214 rows x 2 columns]

In [44]:
def my_neo4j_pagerank():
    "Run and print the PageRank algorithm for the graph"

    # Drop existing graph
    drop_query = """
    CALL gds.graph.drop('ds_graph', false)
    """
    session.run(drop_query)

    # Create the projection
    projection_query = """
    CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})
    """
    session.run(projection_query)

    # Run PageRank algorithm
    pagerank_query = """
    CALL gds.pageRank.stream('ds_graph')
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).name AS station, score
    ORDER BY score DESC
    """
    result = session.run(pagerank_query)
    return result
    # Print results
    print("\nPageRank Results:")
    print("------------------------------")
    for record in result:
        print(record['station'], ":", record['score'])
    print("------------------------------")

In [43]:
my_neo4j_pagerank()

PageRank Results:
------------------------------
blue Coliseum : 0.6897864001174061
orange Coliseum : 0.6891736408350367
green Coliseum : 0.688969695015471
blue Bay Fair : 0.6756946401917988
yellow MacArthur : 0.675480821437051
red Daly City : 0.6739576573618493
yellow Daly City : 0.6738581659600238
yellow Pittsburg Center : 0.6575639605726917
yellow Pittsburg : 0.6456982382072399
yellow West Oakland : 0.6448832609789865
red West Oakland : 0.6447662709889406
blue West Oakland : 0.6439716409872565
green West Oakland : 0.6439693732481765
yellow North Concord : 0.641969880266547
yellow Concord : 0.6406786427964667
orange MacArthur : 0.6404991732968537
red MacArthur : 0.640314949113539
yellow Pleasant Hill : 0.6398517629961274
orange Bay Fair : 0.6393391377523656
green Bay Fair : 0.6393353573725069
gray Coliseum : 0.6388219877326639
yellow Walnut Creek : 0.6382276644364927
red Balboa Park : 0.6360539925210869
yellow Balboa Park : 0.6360414795714335
blue Balboa Park : 0.6354254660142974
green Balboa Park : 0.6354254660139225
blue West Dublin : 0.6337818099159266
yellow Lafayette : 0.6333276739938112
yellow Embarcadero : 0.6286446903491244
red Embarcadero : 0.6286299388594705
blue Embarcadero : 0.6285295406666844
green Embarcadero : 0.6285292554754099
red Glen Park : 0.6263389311775538
yellow Glen Park : 0.6263373428809691
blue Glen Park : 0.6262595658368499
green Glen Park : 0.6262595658366575
red San Bruno : 0.625201523165285
yellow Montgomery Street : 0.6244106229001567
red Montgomery Street : 0.6244087612487895
blue Montgomery Street : 0.6243960665184138
green Montgomery Street : 0.6243960301296265
red 24th Street Mission : 0.62380793494742
yellow 24th Street Mission : 0.6238077393349067
blue 24th Street Mission : 0.6237979081788442
green 24th Street Mission : 0.6237979081658438
yellow Powell Street : 0.6233077720110478
red Powell Street : 0.6233075381238435
blue Powell Street : 0.6233059117342667
green Powell Street : 0.6233059072856864
red 16th Street Mission : 0.6231595530054085
yellow 16th Street Mission : 0.6231595304486165
blue 16th Street Mission : 0.623158259480086
green 16th Street Mission : 0.6231582594198142
yellow Civic Center : 0.6230601251739426
red Civic Center : 0.6230600981555917
blue Civic Center : 0.6230597348206268
green Civic Center : 0.6230597342050693
yellow Orinda : 0.6176672483172014
yellow 19th Street : 0.6151412918933022
orange 19th Street : 0.611151917817633
blue San Leandro : 0.6108679238706547
red 19th Street : 0.6099187204233255
yellow San Bruno : 0.6089852347407279
orange San Leandro : 0.6055106049498925
green San Leandro : 0.6054853224026249
orange Milpitas : 0.6031767784987262
green Milpitas : 0.6031767783796781
orange El Cerrito del Norte : 0.6030536439249736
red El Cerrito del Norte : 0.6030536147537703
orange 12th Street : 0.597629342233267
orange Warm Springs : 0.5934098635746274
green Warm Springs : 0.5934098629802054
orange Lake Merritt : 0.5931368326997294
orange El Cerrito Plaza : 0.5930046850162275
red El Cerrito Plaza : 0.5930045254457408
orange Fruitvale : 0.5915450363368702
blue Fruitvale : 0.5903034228758569
green Fruitvale : 0.590202323082041
orange Fremont : 0.5901692045215176
green Fremont : 0.5901692012335592
yellow 12th Street : 0.590106063965079
red 12th Street : 0.5893329318784117
orange North Berkeley : 0.5887955767779673
red North Berkeley : 0.5887946978789868
red South San Francisco : 0.5880042827005607
orange Union City : 0.5879422632787026
green Union City : 0.5879422451280264
yellow South San Francisco : 0.5850699469625253
blue Lake Merritt : 0.5840889936957928
green Lake Merritt : 0.5840740274100347
orange Downtown Berkeley : 0.5832673815975837
red Downtown Berkeley : 0.5832625379343055
orange South Hayward : 0.5829476487002249
green South Hayward : 0.5829475491146802
blue Castro Valley : 0.571915842936229
yellow Rockridge : 0.5673134013247453
orange Ashby : 0.567020074097887
red Ashby : 0.5669933607784285
orange Hayward : 0.5666893727941438
green Hayward : 0.5666888237937548
green Daly City : 0.5574814224754018
blue Daly City : 0.5574814224753774
red Millbrae : 0.5545398192779456
arrive Coliseum : 0.5514555060483951
red Colma : 0.5511175285158331
yellow Colma : 0.5505917663582643
arrive Daly City : 0.5303643880385034
arrive West Oakland : 0.5150213133622717
arrive Balboa Park : 0.5101103008009443
red SFO : 0.5089377315991254
arrive Embarcadero : 0.5060467142865303
arrive Glen Park : 0.5047511136794038
arrive Montgomery Street : 0.5036719691288263
arrive 24th Street Mission : 0.5033317638928746
arrive Powell Street : 0.5030488591239766
arrive 16th Street Mission : 0.5029650852689872
arrive Civic Center : 0.5029085826540887
yellow SFO : 0.487343793713125
arrive MacArthur : 0.4825148527285974
arrive Bay Fair : 0.4821870991692605
orange Berryessa : 0.4770858049752249
green Berryessa : 0.477085804962757
orange Richmond : 0.47704905062825126
red Richmond : 0.4770490457353674
yellow Antioch : 0.4638085368317987
arrive 19th Street : 0.4620879058984553
arrive San Leandro : 0.4596489441088559
blue Dublin : 0.457065615914736
arrive 12th Street : 0.4520212656087528
arrive Fruitvale : 0.4511681375500723
arrive Lake Merritt : 0.4493356433584239
arrive SFO : 0.4322679719428786
arrive Berryessa : 0.4203364157634517
arrive Richmond : 0.42031547536525343
arrive San Bruno : 0.4122465591018018
arrive Milpitas : 0.40633519417452985
arrive El Cerrito del Norte : 0.406282620998365
arrive Warm Springs : 0.4021819469404224
arrive El Cerrito Plaza : 0.4020091623151252
arrive Fremont : 0.40080258543987995
arrive North Berkeley : 0.4002174271484784
arrive Union City : 0.3998538733747741
arrive South San Francisco : 0.3992524672050858
arrive Downtown Berkeley : 0.3978636851933504
arrive South Hayward : 0.3977280495920744
arrive Ashby : 0.3909488071900602
arrive Hayward : 0.3908132748480565
gray OAK : 0.38607664221219556
arrive Colma : 0.38407520335619827
arrive Antioch : 0.34711766039751385
arrive Dublin : 0.3442490918946889
arrive Pittsburg Center : 0.3363085368317986
arrive Pittsburg : 0.33294630017517785
arrive North Concord : 0.3318897013754414
arrive Concord : 0.3315235800913688
arrive Pleasant Hill : 0.3312889414210252
arrive Walnut Creek : 0.33082818290475857
arrive West Dublin : 0.32956561591473593
arrive Lafayette : 0.3294387230154676
arrive Orinda : 0.3249994910890528
arrive OAK : 0.3140681238964642
arrive Castro Valley : 0.31203271802123755
arrive Rockridge : 0.31072852530173367
arrive Millbrae : 0.307113286600881
depart 12th Street : 0.15000000000000002
depart 16th Street Mission : 0.15000000000000002
depart 19th Street : 0.15000000000000002
depart 24th Street Mission : 0.15000000000000002
depart Antioch : 0.15000000000000002
depart Ashby : 0.15000000000000002
depart Balboa Park : 0.15000000000000002
depart Bay Fair : 0.15000000000000002
depart Berryessa : 0.15000000000000002
depart Castro Valley : 0.15000000000000002
depart Civic Center : 0.15000000000000002
depart Coliseum : 0.15000000000000002
depart Colma : 0.15000000000000002
depart Concord : 0.15000000000000002
depart Daly City : 0.15000000000000002
depart Downtown Berkeley : 0.15000000000000002
depart Dublin : 0.15000000000000002
depart El Cerrito del Norte : 0.15000000000000002
depart El Cerrito Plaza : 0.15000000000000002
depart Embarcadero : 0.15000000000000002
depart Fremont : 0.15000000000000002
depart Fruitvale : 0.15000000000000002
depart Glen Park : 0.15000000000000002
depart Hayward : 0.15000000000000002
depart Lafayette : 0.15000000000000002
depart Lake Merritt : 0.15000000000000002
depart MacArthur : 0.15000000000000002
depart Millbrae : 0.15000000000000002
depart Milpitas : 0.15000000000000002
depart Montgomery Street : 0.15000000000000002
depart North Berkeley : 0.15000000000000002
depart North Concord : 0.15000000000000002
depart OAK : 0.15000000000000002
depart Orinda : 0.15000000000000002
depart Pittsburg : 0.15000000000000002
depart Pittsburg Center : 0.15000000000000002
depart Pleasant Hill : 0.15000000000000002
depart Powell Street : 0.15000000000000002
depart Richmond : 0.15000000000000002
depart Rockridge : 0.15000000000000002
depart San Bruno : 0.15000000000000002
depart San Leandro : 0.15000000000000002
depart SFO : 0.15000000000000002
depart South Hayward : 0.15000000000000002
depart South San Francisco : 0.15000000000000002
depart Union City : 0.15000000000000002
depart Walnut Creek : 0.15000000000000002
depart Warm Springs : 0.15000000000000002
depart West Dublin : 0.15000000000000002
depart West Oakland : 0.15000000000000002
------------------------------