# Project 3 - Setup Graph DB from SQL DB of BART stations

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

# Included Modules and Packages

Import of interest here is the graph DB neo4j

In [1]:
import neo4j

import csv

import math
import numpy as np
import pandas as pd

import psycopg2

# Supporting code

Python code to facilitate loading the Neo4j DB and reviewing results.
Our queries are written in neo4j style (i.e., NoSQL) rather than SQL here.

In [2]:
driver = neo4j.GraphDatabase.driver(uri="neo4j://neo4j:7687", auth=("neo4j","ucb_mids_w205"))

In [3]:
session = driver.session(database="neo4j")

In [4]:
def my_neo4j_wipe_out_database():
    "wipe out database by deleting all nodes and relationships"
    
    query = "match (node)-[relationship]->() delete node, relationship"
    session.run(query)
    
    query = "match (node) delete node"
    session.run(query)

In [5]:
def my_neo4j_run_query_pandas(query, **kwargs):
    "run a query and return the results in a pandas dataframe"
    
    result = session.run(query, **kwargs)
    
    df = pd.DataFrame([r.values() for r in result], columns=result.keys())
    
    return df

In [6]:
def my_neo4j_number_nodes_relationships():
    "print the number of nodes and relationships"
   
    
    query = """
        match (n) 
        return n.name as node_name, labels(n) as labels
        order by n.name
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_nodes = df.shape[0]
    
    
    query = """
        match (n1)-[r]->(n2) 
        return n1.name as node_name_1, labels(n1) as node_1_labels, 
            type(r) as relationship_type, n2.name as node_name_2, labels(n2) as node_2_labels
        order by node_name_1, node_name_2
    """
    
    df = my_neo4j_run_query_pandas(query)
    
    number_relationships = df.shape[0]
    
    print("-------------------------")
    print("  Nodes:", number_nodes)
    print("  Relationships:", number_relationships)
    print("-------------------------")

In [7]:
def my_neo4j_create_node(station_name):
    "create a node with label Station"
    
    query = """
    
    CREATE (:Station {name: $station_name})
    
    """
    
    session.run(query, station_name=station_name)

In [8]:
def my_neo4j_create_relationship_one_way(from_station, to_station, weight):
    "create a relationship one way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [9]:
def my_neo4j_create_relationship_two_way(from_station, to_station, weight):
    "create relationships two way between two stations with a weight"
    
    query = """
    
    MATCH (from:Station), 
          (to:Station)
    WHERE from.name = $from_station and to.name = $to_station
    CREATE (from)-[:LINK {weight: $weight}]->(to),
           (to)-[:LINK {weight: $weight}]->(from)
    
    """
    
    session.run(query, from_station=from_station, to_station=to_station, weight=weight)

In [10]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [11]:
cursor = connection.cursor()

# Introduction 

We will now go step by step through the process of creating a graph database in Neo4j for the BART sytem. 

We will use some of the queries in 3.2 to pull the needed data in the right format to create nodes and relationships in our Neo4j graph database

We will use the functions created above to create the nodes and relationships:
* my_neo4j_create_node() - creates a node with label Station
* my_neo4j_create_relationship_one_way() - creates a relationship one way between two stations with a weight
* my_neo4j_create_relationship_two_way() - create relationships two way between two stations with a weight

The way we create it might seem a bit strange at first. However, we want to be able to use the canned Neo4j Graph Data Science algorithms, and this design allows us to do so.

# Wipe Out and Verify Neo4j database

Ensure we're starting clean.

In [12]:
my_neo4j_wipe_out_database()
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 0
  Relationships: 0
-------------------------

# Query the list of stations and create the departure and arrival nodes in the graph

Use the query from 3.2.1 "Query the list of stations"

For each station X, create two nodes:
* depart X
* arrive X

Use the function my_neo4j_create_node() defined above

For example, West Oakland:
* my_neo4j_create_node('depart West Oakland')
* my_neo4j_create_node('arrive West Oakland')

In [13]:
connection.rollback()

query = """

select station
from stations
order by station

"""

cursor.execute(query)

connection.rollback()

# We get all the stations database rows back (50) with the station
# Each station is a node that you can depart or arrive from

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    
    my_neo4j_create_node('depart ' + station)
    my_neo4j_create_node('arrive ' + station)

# Verify the number of nodes and relationships

Since there are 50 stations, we should have 100 Nodes in the graph.
One is labeled departStation the other arriveStation

In [14]:
# Verify graph counts
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 100
  Relationships: 0
-------------------------

# For all stations, create line nodes, and create relationships between the line nodes and the departure and arrival nodes with weight 0

For each station X and each line Y that the station serves:
* Create a line node
* Create a relationship from the departure node to the line node with weight 0
* Create a relationship from the line node to the arrival node with weight 0

In [15]:
connection.rollback()

query = """

select station, line
from lines
order by station, line

"""

cursor.execute(query)

connection.rollback()

# The lines database has 114 rows
# Therefore our graph of 100 nodes grows by 114 to total 214
# We add 2 relationships for each of the 114 nodes so we get 228 relationships

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    line = row[1]
    
    depart = 'depart ' + station
    arrive = 'arrive ' + station
    line_station = line + ' ' + station
    
    my_neo4j_create_node(line_station)
    my_neo4j_create_relationship_one_way(depart, line_station, 0)
    my_neo4j_create_relationship_one_way(line_station, arrive, 0)

In [16]:
# Verify graph counts
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 228
-------------------------

# Query the list of all possible line transfers and the transfer times, create a relationship for each transfer with the transfer time as the weight

Query the list of all possible line transfers and the transfer times

For each station X, from line Y, to line Z, create a relationship from Y's line node to Z's line node with the weight set to the transfer time

In [17]:
connection.rollback()

query = """

select a.station, a.line as from_line, b.line as to_line, s.transfer_time
from lines a
     join lines b
       on a.station = b.station and a.line <> b.line 
     join stations s
       on a.station = s.station
order by 1, 2, 3

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    station = row[0]
    from_line = row[1]
    to_line = row[2]
    transfer_time = int(row[3])
    
    from_station = from_line + ' ' + station
    to_station = to_line + ' ' + station
    
    my_neo4j_create_relationship_one_way(from_station, to_station, transfer_time)

In [18]:
# Verify graph counts
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 436
-------------------------

# Query the list of all segments between each station and its adjoining stations, create a relationship for each segment both ways

Query the list of all segments between each station and its adjoining stations

For each segment from station X to station Y on line Z, create two relationships:
* From X's line node to Y's line node with travel time
* From Y's line node to X's line node with travel time

In [19]:
connection.rollback()

query = """

select a.line, a.station as from_station, b.station as to_station, t.travel_time
from lines a
  join lines b
    on a.line = b.line and b.sequence = (a.sequence + 1)
  join travel_times t
    on (a.station = t.station_1 and b.station = t.station_2)
        or (a.station = t.station_2 and b.station = t.station_1)
order by line, from_station, to_station

"""

cursor.execute(query)

connection.rollback()

rows = cursor.fetchall()

for row in rows:
    
    line = row[0]
    from_station = line + ' ' + row[1]
    to_station = line + ' ' + row[2]
    travel_time = int(row[3])
    
    my_neo4j_create_relationship_two_way(from_station, to_station, travel_time)

In [20]:
# Verify graph counts
my_neo4j_number_nodes_relationships()

-------------------------
  Nodes: 214
  Relationships: 652
-------------------------

# Verify the graph we just built checking shortest paths

In [21]:
def my_neo4j_shortest_path(from_station, to_station):
    "given a from station and to station, run and print the shortest path"
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)

    query = "CALL gds.graph.project('ds_graph', 'Station', 'LINK', {relationshipProperties: 'weight'})"
    session.run(query)

    query = """

    MATCH (source:Station {name: $source}), (target:Station {name: $target})
    CALL gds.shortestPath.dijkstra.stream(
        'ds_graph', 
        { sourceNode: source, 
          targetNode: target, 
          relationshipWeightProperty: 'weight'
        }
    )
    YIELD index, sourceNode, targetNode, totalCost, nodeIds, costs, path
    RETURN
        gds.util.asNode(sourceNode).name AS from,
        gds.util.asNode(targetNode).name AS to,
        totalCost,
        [nodeId IN nodeIds | gds.util.asNode(nodeId).name] AS nodes,
        costs
    ORDER BY index

    """

    result = session.run(query, source=from_station, target=to_station)
    
    for r in result:
        
        total_cost = int(r['totalCost'])
        
        print("\n--------------------------------")
        print("   Total Cost: ", total_cost)
        print("   Minutes: ", round(total_cost / 60.0,1))
        print("--------------------------------")
        
        nodes = r['nodes']
        costs = r['costs']
        
        i = 0
        previous = 0
        
        for n in nodes:
            
            print(n + ", " + str(int(costs[i]) - previous)  + ", " + str(int(costs[i])))
            
            previous = int(costs[i])
            i += 1

In [22]:
my_neo4j_shortest_path('depart Dublin', 'arrive Antioch')

--------------------------------
   Total Cost:  5813
   Minutes:  96.9
--------------------------------
depart Dublin, 0, 0
blue Dublin, 0, 0
blue West Dublin, 180, 180
blue Castro Valley, 600, 780
blue Bay Fair, 240, 1020
blue San Leandro, 240, 1260
blue Coliseum, 240, 1500
orange Coliseum, 54, 1554
orange Fruitvale, 240, 1794
orange Lake Merritt, 300, 2094
orange 12th Street, 180, 2274
orange 19th Street, 120, 2394
orange MacArthur, 180, 2574
yellow MacArthur, 59, 2633
yellow Rockridge, 240, 2873
yellow Orinda, 300, 3173
yellow Lafayette, 300, 3473
yellow Walnut Creek, 300, 3773
yellow Pleasant Hill, 120, 3893
yellow Concord, 360, 4253
yellow North Concord, 180, 4433
yellow Pittsburg, 360, 4793
yellow Pittsburg Center, 600, 5393
yellow Antioch, 420, 5813
arrive Antioch, 0, 5813

In [23]:
my_neo4j_shortest_path('depart SFO', 'arrive OAK')

--------------------------------
   Total Cost:  3882
   Minutes:  64.7
--------------------------------
depart SFO, 0, 0
yellow SFO, 0, 0
yellow San Bruno, 240, 240
yellow South San Francisco, 240, 480
yellow Colma, 180, 660
yellow Daly City, 240, 900
yellow Balboa Park, 240, 1140
green Balboa Park, 48, 1188
green Glen Park, 120, 1308
green 24th Street Mission, 180, 1488
green 16th Street Mission, 120, 1608
green Civic Center, 180, 1788
green Powell Street, 60, 1848
green Montgomery Street, 120, 1968
green Embarcadero, 60, 2028
green West Oakland, 420, 2448
green Lake Merritt, 360, 2808
green Fruitvale, 300, 3108
green Coliseum, 240, 3348
gray Coliseum, 54, 3402
gray OAK, 480, 3882
arrive OAK, 0, 3882

In [24]:
my_neo4j_shortest_path('depart Antioch', 'arrive Berryessa')

--------------------------------
   Total Cost:  7019
   Minutes:  117.0
--------------------------------
depart Antioch, 0, 0
yellow Antioch, 0, 0
yellow Pittsburg Center, 420, 420
yellow Pittsburg, 600, 1020
yellow North Concord, 360, 1380
yellow Concord, 180, 1560
yellow Pleasant Hill, 360, 1920
yellow Walnut Creek, 120, 2040
yellow Lafayette, 300, 2340
yellow Orinda, 300, 2640
yellow Rockridge, 300, 2940
yellow MacArthur, 240, 3180
orange MacArthur, 59, 3239
orange 19th Street, 180, 3419
orange 12th Street, 120, 3539
orange Lake Merritt, 180, 3719
orange Fruitvale, 300, 4019
orange Coliseum, 240, 4259
orange San Leandro, 240, 4499
orange Bay Fair, 240, 4739
orange Hayward, 240, 4979
orange South Hayward, 240, 5219
orange Union City, 300, 5519
orange Fremont, 300, 5819
orange Warm Springs, 360, 6179
orange Milpitas, 540, 6719
orange Berryessa, 300, 7019
arrive Berryessa, 0, 7019

In [25]:
def my_neo4j_betweeness() :
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)
  
    query = "CALL gds.graph.project('ds_graph', 'Station', {LINK:{properties: 'weight'}})"
    session.run(query)

    query = """

        CALL gds.betweenness.stream('ds_graph')
        YIELD nodeId, score
        RETURN gds.util.asNode(nodeId).name AS name, score as betweenness
        ORDER BY betweenness DESC

    """
    
    # Parse out the line and station
    # Remove the 'depart' and 'arrive' nodes
    df = my_neo4j_run_query_pandas(query)
    df[['line', 'station']] = df['name'].str.split(n=1, expand = True)
    df = df[df['line'] != 'depart']
    df = df[df['line'] != 'arrive']
    
    return df

In [26]:
def my_neo4j_betweeness_RABrandes() :
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)
  
    query = "CALL gds.graph.project('ds_graph', 'Station', {LINK:{properties: 'weight'}})"
    session.run(query)

    query = """

    CALL gds.betweenness.stream('ds_graph', {samplingSize: $sampling_size, samplingSeed: $sampling_seed})
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).name AS name, score as betweenness
    ORDER BY betweenness DESC

    """

    sampling_size = 16
    sampling_seed = 0
    
    df = my_neo4j_run_query_pandas(query, sampling_size=sampling_size, sampling_seed=sampling_seed)
    
    # Parse out the line and station
    # Remove the 'depart' and 'arrive' nodes
    df[['line', 'station']] = df['name'].str.split(n=1, expand = True)
    df = df[df['line'] != 'depart']
    df = df[df['line'] != 'arrive']
    
    return df

In [27]:
df = my_neo4j_betweeness()
df.head(20)

                   name  betweenness    line       station
0      yellow MacArthur  5999.809223  yellow     MacArthur
1      yellow Rockridge  5509.000000  yellow     Rockridge
2   orange Lake Merritt  5155.831877  orange  Lake Merritt
3    orange 12th Street  5139.715461  orange   12th Street
4         yellow Orinda  4997.000000  yellow        Orinda
5    yellow 19th Street  4820.250748  yellow   19th Street
6      orange Fruitvale  4641.959661  orange     Fruitvale
7      yellow Lafayette  4469.000000  yellow     Lafayette
8    yellow 12th Street  4423.507563  yellow   12th Street
9       orange Coliseum  4306.942363  orange      Coliseum
10   orange 19th Street  4117.894371  orange   19th Street
11  yellow West Oakland  3942.135136  yellow  West Oakland
12  yellow Walnut Creek  3925.000000  yellow  Walnut Creek
13   green West Oakland  3896.395775   green  West Oakland
14   green Lake Merritt  3884.841173   green  Lake Merritt
15      green Fruitvale  3717.137573   green     Fruitvale
16   yellow Embarcadero  3648.987775  yellow   Embarcadero
17       green Coliseum  3630.986887   green      Coliseum
18   orange San Leandro  3596.811474  orange   San Leandro
19     orange MacArthur  3570.163101  orange     MacArthur

In [28]:
df.tail(30)

                            name  betweenness    line               station
84      blue 24th Street Mission  1388.461823    blue   24th Street Mission
85               green Glen Park  1206.736504   green             Glen Park
86          red El Cerrito Plaza  1144.372316     red      El Cerrito Plaza
87            green Warm Springs  1141.979229   green          Warm Springs
88       orange El Cerrito Plaza  1124.218867  orange      El Cerrito Plaza
89           orange Warm Springs  1111.965825  orange          Warm Springs
90                blue Glen Park  1031.053322    blue             Glen Park
91              yellow San Bruno   972.937915  yellow             San Bruno
92       yellow Pittsburg Center   965.000000  yellow      Pittsburg Center
93              blue West Dublin   965.000000    blue           West Dublin
94                 red San Bruno   956.317521     red             San Bruno
95             green Balboa Park   745.336538   green           Balboa Park
96      red El Cerrito del Norte   672.915796     red  El Cerrito del Norte
97                green Milpitas   671.040451   green              Milpitas
98   orange El Cerrito del Norte   654.295508  orange  El Cerrito del Norte
99               orange Milpitas   647.601657  orange              Milpitas
100                gray Coliseum   644.250000    gray              Coliseum
101             blue Balboa Park   634.749325    blue           Balboa Park
102                 red Millbrae   484.265723     red              Millbrae
103                   yellow SFO   477.234277  yellow                   SFO
104                     gray OAK   325.000000    gray                   OAK
105               yellow Antioch   325.000000  yellow               Antioch
106                  blue Dublin   325.000000    blue                Dublin
107              green Daly City   246.192770   green             Daly City
108               blue Daly City   193.951191    blue             Daly City
109                 red Richmond   180.877721     red              Richmond
110              green Berryessa   179.812881   green             Berryessa
111              orange Richmond   169.316937  orange              Richmond
112             orange Berryessa   166.575771  orange             Berryessa
113                      red SFO    14.684987     red                   SFO

In [29]:
df = my_neo4j_betweeness_RABrandes()
df.head(30)

                         name  betweenness    line              station
0          green West Oakland   554.374176   green         West Oakland
1          green Lake Merritt   493.816752   green         Lake Merritt
2            yellow MacArthur   459.219561  yellow            MacArthur
3              green Coliseum   455.888117   green             Coliseum
4              green Bay Fair   450.616253   green             Bay Fair
5           green San Leandro   435.971670   green          San Leandro
6         orange Lake Merritt   431.633058  orange         Lake Merritt
7            yellow Rockridge   430.000000  yellow            Rockridge
8             green Fruitvale   429.852120   green            Fruitvale
9          yellow 19th Street   402.356035  yellow          19th Street
10              yellow Orinda   402.000000  yellow               Orinda
11          blue West Oakland   397.712038    blue         West Oakland
12          green Embarcadero   394.647004   green          Embarcadero
13         orange 12th Street   386.244668  orange          12th Street
14    green Montgomery Street   376.262458   green    Montgomery Street
15         yellow 12th Street   368.188758  yellow          12th Street
16        yellow West Oakland   361.838038  yellow         West Oakland
17        green Powell Street   339.729587   green        Powell Street
18          blue Lake Merritt   313.928238    blue         Lake Merritt
19         green Civic Center   306.904408   green         Civic Center
20              green Hayward   296.929528   green              Hayward
21         orange 19th Street   296.667746  orange          19th Street
22        green South Hayward   292.756062   green        South Hayward
23     blue Montgomery Street   287.114392    blue    Montgomery Street
24  green 16th Street Mission   276.893889   green  16th Street Mission
25           blue Embarcadero   275.837285    blue          Embarcadero
26           green Union City   270.833254   green           Union City
27   yellow Montgomery Street   267.489949  yellow    Montgomery Street
28         blue Powell Street   267.150011    blue        Powell Street
29       yellow Powell Street   265.977447  yellow        Powell Street

In [30]:
df.tail(30)

                            name  betweenness    line               station
84    yellow South San Francisco    74.793015  yellow   South San Francisco
85       red South San Francisco    71.512750     red   South San Francisco
86                blue Glen Park    67.394551    blue             Glen Park
87                orange Fremont    65.426774  orange               Fremont
88             green Balboa Park    60.685426   green           Balboa Park
89       orange El Cerrito Plaza    59.387470  orange      El Cerrito Plaza
90          red El Cerrito Plaza    56.945531     red      El Cerrito Plaza
91              yellow San Bruno    49.717720  yellow             San Bruno
92              blue Balboa Park    49.298124    blue           Balboa Park
93       yellow Pittsburg Center    48.000000  yellow      Pittsburg Center
94              blue West Dublin    48.000000    blue           West Dublin
95                 red San Bruno    47.939560     red             San Bruno
96                green Milpitas    43.486772   green              Milpitas
97           orange Warm Springs    41.136009  orange          Warm Springs
98   orange El Cerrito del Norte    33.940623  orange  El Cerrito del Norte
99      red El Cerrito del Norte    32.778974     red  El Cerrito del Norte
100                gray Coliseum    32.000000    gray              Coliseum
101                   yellow SFO    24.280220  yellow                   SFO
102                 red Millbrae    23.719780     red              Millbrae
103              orange Milpitas    22.956264  orange              Milpitas
104              green Daly City    21.543619   green             Daly City
105               blue Daly City    16.210286    blue             Daly City
106                     gray OAK    16.000000    gray                   OAK
107               yellow Antioch    16.000000  yellow               Antioch
108                  blue Dublin    16.000000    blue                Dublin
109              green Berryessa    13.270396   green             Berryessa
110              orange Richmond     8.829770  orange              Richmond
111                 red Richmond     8.457885     red              Richmond
112             orange Berryessa     3.866435  orange             Berryessa
113                      red SFO     0.219780     red                   SFO

In [37]:
def my_neo4j_harmonic() :
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)
  
    query = "CALL gds.graph.project('ds_graph', 'Station', {LINK:{orientation: 'UNDIRECTED'}})"
    session.run(query)
    
    query = """

    CALL gds.closeness.harmonic.stream('ds_graph', {})
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).name AS name, score
    ORDER BY score DESC

    """

    
    df = my_neo4j_run_query_pandas(query)
    
    # Parse out the line and station
    # Remove the 'depart' and 'arrive' nodes
    df[['line', 'station']] = df['name'].str.split(n=1, expand = True)
    df = df[df['line'] != 'depart']
    df = df[df['line'] != 'arrive']
    
    return df

In [39]:
df = my_neo4j_harmonic()
df.head(50)

                          name     score    line              station
0           green West Oakland  0.200253   green         West Oakland
1          yellow West Oakland  0.200001  yellow         West Oakland
2            blue West Oakland  0.199824    blue         West Oakland
3             red West Oakland  0.199639     red         West Oakland
4           orange 12th Street  0.194560  orange          12th Street
5          orange Lake Merritt  0.194501  orange         Lake Merritt
6           yellow 12th Street  0.194228  yellow          12th Street
7           green Lake Merritt  0.194012   green         Lake Merritt
8              red 12th Street  0.193799     red          12th Street
9            blue Lake Merritt  0.193495    blue         Lake Merritt
10          yellow Embarcadero  0.192743  yellow          Embarcadero
11           green Embarcadero  0.192741   green          Embarcadero
12             red Embarcadero  0.192434     red          Embarcadero
13            blue Embarcadero  0.192380    blue          Embarcadero
14    yellow Montgomery Street  0.187317  yellow    Montgomery Street
15     green Montgomery Street  0.187110   green    Montgomery Street
16       red Montgomery Street  0.187050     red    Montgomery Street
17      blue Montgomery Street  0.186801    blue    Montgomery Street
18            orange Fruitvale  0.186471  orange            Fruitvale
19             green Fruitvale  0.186105   green            Fruitvale
20          orange 19th Street  0.185481  orange          19th Street
21              blue Fruitvale  0.185470    blue            Fruitvale
22          yellow 19th Street  0.185451  yellow          19th Street
23             red 19th Street  0.184934     red          19th Street
24             orange Coliseum  0.183689  orange             Coliseum
25              green Coliseum  0.183407   green             Coliseum
26        yellow Powell Street  0.182756  yellow        Powell Street
27               blue Coliseum  0.182606    blue             Coliseum
28           red Powell Street  0.182522     red        Powell Street
29         green Powell Street  0.182350   green        Powell Street
30          blue Powell Street  0.182083    blue        Powell Street
31            yellow MacArthur  0.180168  yellow            MacArthur
32            orange MacArthur  0.179944  orange            MacArthur
33               red MacArthur  0.179533     red            MacArthur
36         yellow Civic Center  0.178578  yellow         Civic Center
37            red Civic Center  0.178372     red         Civic Center
38          green Civic Center  0.177947   green         Civic Center
39           blue Civic Center  0.177712    blue         Civic Center
40          orange San Leandro  0.174702  orange          San Leandro
41           green San Leandro  0.174480   green          San Leandro
42  yellow 16th Street Mission  0.174470  yellow  16th Street Mission
43     red 16th Street Mission  0.174286     red  16th Street Mission
44   green 16th Street Mission  0.173548   green  16th Street Mission
45            blue San Leandro  0.173436    blue          San Leandro
46    blue 16th Street Mission  0.173342    blue  16th Street Mission
51  yellow 24th Street Mission  0.170171  yellow  24th Street Mission
52     red 24th Street Mission  0.170007     red  24th Street Mission
55             orange Bay Fair  0.169148  orange             Bay Fair
56              green Bay Fair  0.168969   green             Bay Fair
57               gray Coliseum  0.168896    gray             Coliseum

In [53]:
def my_neo4j_louvain() :
    
    query = "CALL gds.graph.drop('ds_graph', false)"
    session.run(query)
  
    query = "CALL gds.graph.project('ds_graph', 'Station', { LINK: { orientation: 'UNDIRECTED' } },"
    query = query + "{relationshipProperties: 'weight'})"
        
    session.run(query)
  

    query = """

    CALL gds.louvain.stream('ds_graph')
    YIELD nodeId, communityId, intermediateCommunityIds
    RETURN gds.util.asNode(nodeId).name AS name, communityId
    ORDER BY communityId ASC

    """
    

    df = my_neo4j_run_query_pandas(query)
    
    # Parse out the line and station
    # Remove the 'depart' and 'arrive' nodes
    df[['line', 'station']] = df['name'].str.split(n=1, expand = True)
    df = df[df['line'] != 'depart']
    df = df[df['line'] != 'arrive']
    
    return df

In [65]:
df = my_neo4j_louvain()
df.head(50)

                          name  communityId    line              station
0                 red Millbrae           50     red             Millbrae
1                red San Bruno           50     red            San Bruno
2             yellow San Bruno           50  yellow            San Bruno
3                      red SFO           50     red                  SFO
4                   yellow SFO           50  yellow                  SFO
5      red South San Francisco           50     red  South San Francisco
6   yellow South San Francisco           50  yellow  South San Francisco
17                   red Colma           50     red                Colma
18                yellow Colma           50  yellow                Colma
19               green Fremont           55   green              Fremont
20              orange Fremont           55  orange              Fremont
21               green Hayward           55   green              Hayward
22              orange Hayward           55  orange              Hayward
23              green Milpitas           55   green             Milpitas
24             orange Milpitas           55  orange             Milpitas
25         green South Hayward           55   green        South Hayward
26        orange South Hayward           55  orange        South Hayward
27            green Union City           55   green           Union City
28           orange Union City           55  orange           Union City
29          green Warm Springs           55   green         Warm Springs
30         orange Warm Springs           55  orange         Warm Springs
45             green Berryessa           55   green            Berryessa
46            orange Berryessa           55  orange            Berryessa
47            blue Embarcadero          165    blue          Embarcadero
48           green Embarcadero          165   green          Embarcadero
49             red Embarcadero          165     red          Embarcadero
50          yellow Embarcadero          165  yellow          Embarcadero
51      blue Montgomery Street          165    blue    Montgomery Street
52     green Montgomery Street          165   green    Montgomery Street
53       red Montgomery Street          165     red    Montgomery Street
54    yellow Montgomery Street          165  yellow    Montgomery Street
55           blue West Oakland          165    blue         West Oakland
56          green West Oakland          165   green         West Oakland
57            red West Oakland          165     red         West Oakland
58         yellow West Oakland          165  yellow         West Oakland
69    blue 16th Street Mission          175    blue  16th Street Mission
70   green 16th Street Mission          175   green  16th Street Mission
71     red 16th Street Mission          175     red  16th Street Mission
72  yellow 16th Street Mission          175  yellow  16th Street Mission
73    blue 24th Street Mission          175    blue  24th Street Mission
74   green 24th Street Mission          175   green  24th Street Mission
75     red 24th Street Mission          175     red  24th Street Mission
76  yellow 24th Street Mission          175  yellow  24th Street Mission
77            orange MacArthur          181  orange            MacArthur
78               red MacArthur          181     red            MacArthur
79            yellow MacArthur          181  yellow            MacArthur
86          orange 12th Street          181  orange          12th Street
87             red 12th Street          181     red          12th Street
88          yellow 12th Street          181  yellow          12th Street
89          orange 19th Street          181  orange          19th Street

In [66]:
macarthur_station_id = df.loc[df['station'] == 'MacArthur']
macarthur_station_id

                name  communityId    line    station
77  orange MacArthur          181  orange  MacArthur
78     red MacArthur          181     red  MacArthur
79  yellow MacArthur          181  yellow  MacArthur

In [57]:
coliseum_community_id = df.loc[df['station'] == 'Coliseum']
coliseum_community_id

                name  communityId    line   station
156    blue Coliseum          197    blue  Coliseum
157    gray Coliseum          197    gray  Coliseum
158   green Coliseum          197   green  Coliseum
159  orange Coliseum          197  orange  Coliseum

In [68]:
macarthur_community_df = df.loc[df['communityId'] == 181]
macarthur_community_df

                  name  communityId    line      station
77    orange MacArthur          181  orange    MacArthur
78       red MacArthur          181     red    MacArthur
79    yellow MacArthur          181  yellow    MacArthur
86  orange 12th Street          181  orange  12th Street
87     red 12th Street          181     red  12th Street
88  yellow 12th Street          181  yellow  12th Street
89  orange 19th Street          181  orange  19th Street
90     red 19th Street          181     red  19th Street
91  yellow 19th Street          181  yellow  19th Street

In [71]:
coliseum_community_df = df.loc[df['communityId'] == 197]
coliseum_community_df

                    name  communityId    line       station
141       blue Fruitvale          197    blue     Fruitvale
142      green Fruitvale          197   green     Fruitvale
143     orange Fruitvale          197  orange     Fruitvale
144    blue Lake Merritt          197    blue  Lake Merritt
145   green Lake Merritt          197   green  Lake Merritt
146  orange Lake Merritt          197  orange  Lake Merritt
147             gray OAK          197    gray           OAK
156        blue Coliseum          197    blue      Coliseum
157        gray Coliseum          197    gray      Coliseum
158       green Coliseum          197   green      Coliseum
159      orange Coliseum          197  orange      Coliseum

In [74]:
bayfair_station_id = df.loc[df['station'] == 'Bay Fair']
bayfair_station_id

                name  communityId    line   station
124    blue Bay Fair          191    blue  Bay Fair
125   green Bay Fair          191   green  Bay Fair
126  orange Bay Fair          191  orange  Bay Fair

In [76]:
bayfair_community_df = df.loc[df['communityId'] == 191]
bayfair_community_df

                   name  communityId    line        station
110    blue San Leandro          191    blue    San Leandro
111   green San Leandro          191   green    San Leandro
112  orange San Leandro          191  orange    San Leandro
113    blue West Dublin          191    blue    West Dublin
124       blue Bay Fair          191    blue       Bay Fair
125      green Bay Fair          191   green       Bay Fair
126     orange Bay Fair          191  orange       Bay Fair
127  blue Castro Valley          191    blue  Castro Valley
128         blue Dublin          191    blue         Dublin

In [77]:
dalycity_station_id = df.loc[df['station'] == 'Daly City']
dalycity_station_id

                 name  communityId    line    station
106    blue Daly City          182    blue  Daly City
107   green Daly City          182   green  Daly City
108     red Daly City          182     red  Daly City
109  yellow Daly City          182  yellow  Daly City

In [79]:
dalycity_community_df = df.loc[df['communityId'] == 182]
dalycity_community_df

                   name  communityId    line      station
92       blue Glen Park          182    blue    Glen Park
93      green Glen Park          182   green    Glen Park
94        red Glen Park          182     red    Glen Park
95     yellow Glen Park          182  yellow    Glen Park
102    blue Balboa Park          182    blue  Balboa Park
103   green Balboa Park          182   green  Balboa Park
104     red Balboa Park          182     red  Balboa Park
105  yellow Balboa Park          182  yellow  Balboa Park
106      blue Daly City          182    blue    Daly City
107     green Daly City          182   green    Daly City
108       red Daly City          182     red    Daly City
109    yellow Daly City          182  yellow    Daly City